IMPORT LIBRARY

In [50]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

LOAD DATASET

In [51]:
data = pd.read_csv('data_balita.csv')
data

        umur  jk          tb  sg
0          1   0   68.275898   3
1          1   0   69.554635   3
2          1   0   41.385090   0
3          1   0   63.013073   3
4          1   0   64.166903   3
...      ...  ..         ...  ..
118995    60   1  100.600000   2
118996    60   1   98.300000   1
118997    60   1  121.300000   2
118998    60   1  112.200000   2
118999    60   1  109.800000   2

[119000 rows x 4 columns]

In [52]:
y_class = data['sg']
y = y_class.values.tolist()
print(y[:5])

[3, 3, 0, 3, 3]

In [53]:
x = data.drop(columns='sg')
x

        umur  jk          tb
0          1   0   68.275898
1          1   0   69.554635
2          1   0   41.385090
3          1   0   63.013073
4          1   0   64.166903
...      ...  ..         ...
118995    60   1  100.600000
118996    60   1   98.300000
118997    60   1  121.300000
118998    60   1  112.200000
118999    60   1  109.800000

[119000 rows x 3 columns]

NORMALISASI DATA

In [54]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(x)
nama_fitur = x.columns.copy()
scaled_fitur = pd.DataFrame(scaled,columns=nama_fitur)
scaled_fitur

        umur   jk        tb
0        0.0  0.0  0.313336
1        0.0  0.0  0.328038
2        0.0  0.0  0.004165
3        0.0  0.0  0.252828
4        0.0  0.0  0.266094
...      ...  ...       ...
118995   1.0  1.0  0.684975
118996   1.0  1.0  0.658531
118997   1.0  1.0  0.922968
118998   1.0  1.0  0.818343
118999   1.0  1.0  0.790750

[119000 rows x 3 columns]

In [55]:
import joblib
filename = 'norm.sav'
joblib.dump(scaler, filename)

['norm.sav']

MEMISAHKAN DATA TRAINING DAN TESTING

In [56]:
from pathlib import Path  
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=1)

# save data test
filepath = Path('data_test.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
x_test.to_csv(filepath)

MEMBUAT MODEL TRAINING

In [57]:
k_range = range(1,31)
scores = {}
scores_list = []
for k in k_range:
        knn = KNeighborsClassifier(n_neighbors=k)
        knn.fit(x_train,y_train)
        # save model
        filenameKNN = 'modelKNN'+str(1)+'.pkl'
        joblib.dump(knn,filenameKNN)
        y_pred=knn.predict(x_test)
        scores[k] = accuracy_score(y_test,y_pred)
        scores_list.append(accuracy_score(y_test,y_pred))
scores

{1: 0.9990336134453781,
 2: 0.9983613445378151,
 3: 0.9980252100840337,
 4: 0.9962605042016807,
 5: 0.9956302521008403,
 6: 0.9951260504201681,
 7: 0.9964285714285714,
 8: 0.9952941176470588,
 9: 0.9951680672268908,
 10: 0.9948319327731092,
 11: 0.9948739495798319,
 12: 0.9947899159663866,
 13: 0.995,
 14: 0.995,
 15: 0.995,
 16: 0.994453781512605,
 17: 0.9945378151260504,
 18: 0.9939495798319328,
 19: 0.9942857142857143,
 20: 0.9940336134453781,
 21: 0.9944117647058823,
 22: 0.9935714285714285,
 23: 0.993109243697479,
 24: 0.9924789915966387,
 25: 0.9928991596638655,
 26: 0.992436974789916,
 27: 0.9923529411764705,
 28: 0.9916386554621849,
 29: 0.9923109243697479,
 30: 0.9921848739495799}

In [58]:
scores_list.index(max(scores_list))+1 , max(scores_list)

(1, 0.9990336134453781)

MODEL EVALUASI UNTUK MENGUKUR TINGKAT AKURASI

In [59]:
x_train_pred = knn.predict(x_train)
accuracy = accuracy_score(y_train, x_train_pred)
print('Akurasi data training:', accuracy)

Akurasi data training: 0.9940756302521009

In [60]:
x_test_pred = knn.predict(x_test)
accuracy_test = accuracy_score(y_test, x_test_pred)
print('Akurasi data testing:', accuracy_test)

Akurasi data testing: 0.9921848739495799